.add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.add button {
  height: 2rem;
  width: 5rem;
  color: white;
  background-color: rgb(5, 100, 243);
  border: 0;
  border-radius: 10%;
}
.add input {
  background-color: transparent;
  border: 0;
  border-bottom: 0.125rem solid rgba(144, 144, 144);
  height: 1.7rem;
  width: 20rem;
}
